{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": false,
	"semi": false,
	"experimentalTernaries": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"proseWrap": "always",
	"useTabs": true,
	"embeddedLanguageFormatting": "auto",
	"tabWidth": 2,
	"printWidth": 120
}
